#nprogress {
  pointer-events: none;

  .bar {
    @apply bg-elucidator-800 dark:bg-dark-repulser-500;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 4px;
  }
}
